 {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Style the header */
header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
  text-align: center;
  font-size: 30px;
  color: blue;
}

/* Style the sub-header */
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
}


/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
sidebar {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the buttons individually using their id */
#button-on 	   {background: #00cc00; }
#button-off 	   {background: #ff3300; }
#button-status   {background: #3366ff; }
#button-water1   {background: yellow; 
		    color: #000000; }
#button-water2   {background: yellow; 
		    color: #000000; }
#button-water3   {background: yellow; 
		    color: #000000; }
#button-water4   {background: yellow; 
		    color: #000000; }
#button-check    {background: white;
		    color: black;   }
#button-refresh  {background: white;
		    color: black;   }


/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
