<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href='/static/autowaterstyle.css' />
</head>

<body>
  <header>Plant Watering System</header>
  <h2>It is now
    <div id="clockbox"></div>
    <script type="text/javascript">
    function GetClock(){
      var d=new Date();
      var nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
      var nhour=d.getHours(),nmin=d.getMinutes();
      if(nmin<=9) nmin="0"+nmin
      var clocktext=""+nhour+":"+nmin+" on "+ndate+"-"+(nmonth+1)+"-"+nyear+" ";
      document.getElementById('clockbox').innerHTML=clocktext;
    }
    GetClock();
    setInterval(GetClock,1000);
    </script>
  </h2>

<section>
  <sidebar>
    <h3> Controls</h3>
    <p>
       <a href="/auto/water/ON"><button id="button-on">Turn ON Plant Auto Watering</button></a>
       <a href="/auto/water/OFF"><button id="button-off">Turn OFF Plant Auto Watering</button></a><br />
    </p>
    <p>
       <a href="/"><button id="button-status">Check plants status</button></a><br />
    </p>
    <p>
       <a href="/water1"><button id="button-water1">Water plant </button></a><br /><br />
       <a href="/shutdown"><button id="button-water1">shut down system </button></a>
    </p>

  </sidebar>
  
  <article>
    <h3>Status Report</h3>
    {% for element in text_to_send %}
    <p>{{element}} </p>
    {% endfor %}

  </article>
</section>
</body>
<footer>
  <p>Powered by Raspberry Pi</p>
</footer
</html>
